<h1>New list</h1>

<p>list details:</p>

<%= simple_form_for @list do |f| %>
<%= f.input :name %>
<%= f.submit class: 'btn btn-primary' %>
<% end %>

<hr>

<%= link_to 'List index', root_path, class: 'btn btn-primary' %>
