<div id="new-banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dqcismds3/image/upload/ar_16:9,c_crop/v1645366592/yrdgq8uupvq7cblvzw3c.jpg');">
  <div class="container">
    <h2 class="text-color-turquoise">New list</h2>
    <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn-flat' %>
    <% end %>
  </div>
</div>
